# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/

# VS Code settings (optional)
.vscode/

# System files
.DS_Store
Thumbs.db

# Datenbanken
app.db

